body{
	margin: 0;
	background: #441fa8;
	font-family: Arial, sans-serif;
}
h1{
	text-align: center;
	padding-top: 10%;
	text-transform: uppercase;
	color: white;
}
img{
	display: block;
	margin: auto;
}