h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}
.remove-tweet {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
.remove-tweet:hover{
	color: #A20000;
}

textarea{
	resize: none;
}